body { 
	margin:0; 
	padding:0; 
}


main.interactive {
	display: flex; /* Enable flexbox for the main element */
	flex-direction: column; /* Stack banner and map vertically */
	height: 100vh;
  }

#map {
	position: relative;
	height: 100%;
	/* width: 100%; */
}

#map-container {
	flex: 1;
}

.banner {
	width: 100%; /* Set banner to 100% width */
	display: flex;
  }

/* Default styles for banner all screens (including mobile) */
div#new-controls {
	z-index: 100;
	font-size: 1.2em;
	font-family: "Arial";
  }
  
  #logo-container {
	position: absolute;
	right: 15px;
	max-height: 80px; 
	width: auto;
	left: auto;
	top: 10px;
	bottom: auto;
	z-index: 100;
  }

  #logo {
	max-height: 80px;  
	float: right;
  }

  /* .boundary-and-background {
	display: flex; 
  } */
  
 .background-layers {
	margin-left: 20px;
  }

  .toggle-container {
	display: flex;
  }
  
  .toggle-label {
	color: #828181;
  } 

  .search-buttons {
	margin: 1px;
  }


@media (max-width: 985px) { 
	#logo {
		top: auto;
	    bottom: 35px;
	    z-index: 99999;
	    left: auto;
	    right: 5px;
	    /* height: 60px; */
	}
}


/*landscape mode*/
/* @media (max-height: 400px) {
	#map { 
		top:30px;
	}
} */


/* Media query for desktop screens (larger than 768px) */
@media (min-width: 768px) {
	/* .banner {
  		width: 100%; 
		display: flex; 
	} */
  
	div#new-controls {
	  width: 80%; 
	  margin: 10px 0px 0 10px;
	}
  
	#logo-container {
	  width: 20%; 
	}
  
	.boundary-and-background {
	  display: flex; 
	}

	.toggle-container {
		display: flex; 
		margin-top: 10px;
	  }
  
	.toggle {
	  margin-right: 10px; 
	}
  }

  @media (max-width: 900px) {
	#logo {
		position: fixed; 
		bottom: 25px;
		right: 10px;
	}
}
  
  /* Media query for mobile screens (smaller than 768px) */
  @media (max-width: 767px) {
	.banner {
	  display: block; 
	}
  
	div#new-controls {
	margin: 10px 10px 5px 10px;
	  font-size: 1.1em;
	}

	.toggle-container {
		margin-top: 10px;
	}

	.toggle {
		margin-right: 5px;
		font-size: .9em;
	}

	.background-layers {
		margin-left: 0px;
	  }
  }




/*
LEGEND STYLING*/

#legendcontainer {
	position: absolute;
	display: block;
    height: auto;
    padding-right: 0;
    font-size: 18px;
    /*width: 290px;*/
    left: 10px;
    bottom: 4%;
    top: auto;
    /*background: #fff;*/
    z-index: 101;
}


#legend-ui li {
	list-style-type: none;
	text-align: center;
	vertical-align: middle;
	color:#29315F;
	}

/*stupid way to remove key color padding*/
li.dataTitle span.keycolor {
	width: 0px !important;
    margin: 0 !important;
}

@media (max-width: 785px) {
	#legend-ui li {
		font:12px "Helvetica";
		color:#29315F;
		}
	ul.legend {
		width: 165px;
	}

	}

	ul#legend-ui {
	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	}

	ul.legend {
	display: inline-flex;
	padding: 5px;
	border: solid 1pt #d1cfcf;
	border-radius: 7pt;
	background-color: #fafafa;
	flex-wrap: wrap; /*this is what makes the legend wrap*/
	width: 180px;
	align-items: center;
	}

	ul.legend span.keycolor {
	height: 10px;
	width: 10px;
	margin-left: 10px;
	margin-right: 5px;
	color: #4d004b;
	display: inline-block;
	}

	li.dataTitle {
	padding-bottom: 5px;
	/*margin-left: -15px;*/
	text-decoration: none;
	color: #000000;
	font-weight: 700;
	}

	#legend-ui {
		display: none;
	}

	#legend-ui li ul.legend li {
		display: none;
	}

	ul.legend li.bvap1 span.keycolor { background-color: #f2f0f7; }
	ul.legend li.bvap2 span.keycolor { background-color: #aba8d0; }
	ul.legend li.bvap3 span.keycolor { background-color: #865ebc; }
	ul.legend li.bvap4 span.keycolor { background-color: #664296; }
/*	ul.legend li.bvap5 span.keycolor { background-color: #54278f; }*/

	ul.legend li.hvap1 span.keycolor { background-color: #feedde; }
	ul.legend li.hvap2 span.keycolor { background-color: #fdbe85; }
/*	ul.legend li.hvap3 span.keycolor { background-color: #fd8d3c; }*/
	ul.legend li.hvap3 span.keycolor { background-color: #e6550d; }
	ul.legend li.hvap4 span.keycolor { background-color: #a63603; }

	ul.legend li.avap1 span.keycolor { background-color: #edf8e9; }
	ul.legend li.avap2 span.keycolor { background-color: #bae4b3; }
/*	ul.legend li.avap3 span.keycolor { background-color: #74c476; }*/
	ul.legend li.avap3 span.keycolor { background-color: #31a354; }
	ul.legend li.avap4 span.keycolor { background-color: #006d2c; }

	ul.legend li.bipocvap1 span.keycolor { background-color: #feebe2; }
	ul.legend li.bipocvap2 span.keycolor { background-color: #fbb4b9; }
/*	ul.legend li.bipocvap3 span.keycolor { background-color: #f768a1; }*/
	ul.legend li.bipocvap3 span.keycolor { background-color: #c51b8a; }
	ul.legend li.bipocvap4 span.keycolor { background-color: #7a0177; }

	ul.legend li.precinct_plean1 span.keycolor { background-color: #c23a43; }
	ul.legend li.precinct_plean2 span.keycolor { background-color: #ed6d78; }
	ul.legend li.precinct_plean3 span.keycolor { background-color: #c991b1; }
	ul.legend li.precinct_plean4 span.keycolor { background-color: #979cde; }
	ul.legend li.precinct_plean5 span.keycolor { background-color: #5a83c4; }
	ul.legend li.precinct_plean6 span.keycolor { background-color: #3b61b8; }

/*Legend styling for hidden legend*/


/* #legendcontainer_isolated {
	display: block;
    height: auto;
    padding-right: 0;
    font-size: 14px;
    width: 290px;
    position: absolute;
    left: 10px;
    bottom: 8%;
    top: auto;
    background: #fff;
    z-index: 101;
} */

	li.key {
	/* display: none;*/
	margin-left: -15px;
	text-decoration: none;
	color: #000000;
	}

	li.key a{
	color: #1B4971;
	font-weight: 700;
	}





/*POPUP STYLING*/

.mapboxgl-popup {
    width: 1000px;
    /*font: 14px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;*/
    font:16px/20px "Helvetica";
  	min-width: 1000px;
  	/*overflow: auto;*/
  	color:#29315F;
  	text-align: center;
  	z-index: 1000;
  	transform:none !important;
    top: 56%;
    left: 10px;
}


.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-center .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip, 
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip{
    display:none !important;
}


.mapboxgl-popup-content {
    width: 1000px;
    float:left;
    overflow-x: scroll;
    box-shadow: 1px 1px 4px;
    padding: 0px 0px 0px;
}

.mapboxgl-popup-close-button {
	right:25px;
	font-size: 14pt;
}


@media (max-width: 785px) {
	.mapboxgl-popup {
	    width: 220px;
	    /*font: 12px/16px 'Helvetica Neue', Arial, Helvetica, sans-serif;*/
	    font:12px/16px "Helvetica";
	    z-index:1000;
	    color:#29315F;
	    top: 54%;
	}
}

@media (max-width: 785px) {
	.mapboxgl-popup-content {
	    padding:0px 7px 0px;
	    outline: black;
	    z-index: 1000;
	    overflow-x: scroll;
	    width: 350px;
	    height: 350px;
	}
}

#sidebar {
    position: absolute;
    top: 154px;
    border-radius: 4px;
    right: 47px;
    left: auto;
    max-width: 410px;
    overflow: auto;
    flex-wrap: wrap;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    font: 18px/18px "Helvetica", "Arial", "sans-serif";
    color: #29315F;
    box-shadow: 0 0 0 2px rgb(0 0 0 / 10%);
    line-height: 1.25em !important;
}

#tooltip {
	width: auto;
}


@media (max-width: 785px) {
	#sidebar {
	    top: 200px;
	    width: 240px;
	    right:20px;
	    left:auto;
	    font:12px/18px "Helvetica";
	    color:#29315F;
	}
}

@media (max-width: 350px) {
	#sidebar {
	    top: 140px;
	    left: 50px;
	    right: auto;
	    width: 240px;
	    font:12px/18px "Helvetica";
	    color:#29315F;
	}
}


@media (max-height: 400px) {
	#sidebar {
	    top: 85px;
	    right: 10px;
	    left:auto;
	    width: 200px;
	    font:12px/18px "Helvetica";
	    color:#29315F;
	}
}


/*Format geocoder*/ 

.mapboxgl-ctrl-geocoder.mapboxgl-ctrl{
	/*float:left;*/
    font: inherit;
    height: 36px;
	width: 350px;
	flex-grow: 1;
    color: #404040;
    color: rgba(0, 0, 0, 0.75);
    text-overflow: ellipsis;
    white-space: nowrap;
    font:14px "Microsoft Sans Serif", serif;
    color:#29315F;
}
 


@media (max-width: 785px) {
    .mapboxgl-ctrl-geocoder.mapboxgl-ctrl{
        font:13px "Microsoft Sans Serif", serif;
        color:#29315F;
    }
 }


/*Make zoom buttons smaller on mobile*/
@media (max-width: 785px) {
    .mapboxgl-ctrl-group > button {
        width: 20px;
        height: 20px;
        display: block;
        padding: 0;
        outline: none;
        border: 0;
        box-sizing: border-box;
        background-color: transparent;
        cursor: pointer;
    }
}
